<!DOCTYPE html>
<html>

<head>
   <title>Demo live</title>
   <link rel="stylesheet" type="text/css" href="/CSS/styles.css">
   <meta name="viewport" content="width=device-width , initial-scale=1">
</head>

<body>
<h1 class="redColor">This is a Heading</h1>
<p>This is a paragraph.</p>
   <script src="/javascript/index.js"></script>
</body>

</html>